$feature-images: 60%;
$white: white;
$background-cover: cover;
$main-images: 60%;
$wordpress: 18px;
$main-repeat: no-repeat;
$bwr-height: 215px;
$bwr-color: white;
$feature-repeat: no-repeat;
$lbb-background: #E8F0F5;
$lbb-text-color: #362D51;


.top-bar {
	height: 50px;
	background: #1D8CBE;
	margin: 0;
	position: relative;
}

.white-square-top{
	background: url(../images/logo.png);
	background-size: $background-cover;
	height: 32px;
	width: 32px;
	float: left;
	left: 15px;
	margin: 7px;	
}

.white-rectangle-top{
	background: #1D8CBE;
	height: 32px;
	float: left;
	text-align: center;
	padding-top: 5px;
	margin: 7px;
	margin-top: 10px;
}

.wordpress{
	color: $white;
	font-size: $wordpress;
}

.com{
	color: #B3D4E3;
	font-size: $wordpress;
	opacity: .8;
}

.darker-blue-rectangle-top{
	background: #0E71A2;
	float: right;
	height: 50px;
	width: 75px;
	border: .5px solid #0A6192;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    text-align: center;
   padding: 15px;
}

.log-in{
	color: $white;
	font-size: 14px;
	text-align: center;

}

.main-page {
	height: 945px;
	background: #344050 url(../images/crowd.jpg);
	background-repeat: no-repeat;
	background-size: $background-cover;
	margin: 0;
	padding-top: 170px;
}

.main {
	color: $white;
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
}

.additional-info {
	color: $white;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
	padding-top: 40px;
}

.button-top{
	border: 10px solid, rgba(0, 0, 0, .5);
	background: #268DBC;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	height: 50px;
	width: 227px;
	text-align: center;


}

.button1{
	color: $white;
	font-size: 28px;
	text-align: center;
	position: relative;
	top: 10px
}

.small-white-rectangle{
	height: 20px;
	background: $white;
	margin-top: 210px;
	margin-left: 45%;
	margin-right: 45%;
	margin-bottom: 105px;
}

.white-rectangle{
	height: 70px;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-right: 4px;
	width: 400px;
}

.tablet {
	background-image: url(../images/tablet.png);
	background-size: $main-images;
	background-repeat: $main-repeat;
}

.newspaper{
	background-image: url(../images/newspaper.png);
	background-size: $main-images;
	background-repeat: $main-repeat;
}

.paintbrush{
	background-image: url(../images/paint-brush.png);
	background-size: $main-images;
	background-repeat: $main-repeat;
}
.wr-left-rectangle{
	height: 60px;
	width: 60px;	
	float: left;
	padding: 5px;
}

.wr-right-rectangle{
	height: 55px;
	text-align: left;
	float: left;
	width: 230px;

}

.wr-top-text{
	color: $white;
	font-size: 18px;
	margin-top: auto;
	margin-bottom: 10px;
}

.wr-bottom-text{
	color: #BABCC0;
	margin: auto;
	font-size: 14px;
}

.light-blue-background{
	background: $lbb-background;
	height: 188px;
	margin: 0;
	text-align: center;
	padding-bottom: 25px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.lbb-text{
		color: $lbb-text-color;
		font-size: 28px;
		margin-top: 15px;
		margin-bottom: 15px;
		display: inline-block;
		padding-top: 15px;
}

.gray-background{
	background: #D1D3D7;
	height: 1470px;
	margin: 0;
	padding-top: 30px;
}

.big-white-rectangle{
		height: $bwr-height;
		background: $bwr-color;
		margin-top: 0;
		margin-bottom: 30px;
		margin-right: 2%;
		margin-left: 2%;
		padding-top: 20px;
		padding-right: 15px;
		padding-left: 15px;
		padding-bottom: 35px;
		-webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
}

.bwr-square{
	background-color: #C7D2D8;
	border-radius: 50%;
	height: 64px;
	width: 64px;
	margin: 0 auto;
}

.lightbulb{
	background-image: url(../images/lightbulb.png);
	background-position: center;
	background-repeat: $feature-repeat;
	background-size: $feature-images;
}

.cloud{
	background-image: url(../images/cloud.png);
	background-position: center;
	background-repeat: $feature-repeat;
	background-size: $feature-images;
}

.code{
	background-image: url(../images/code.png);
	background-position: center;
	background-repeat: $feature-repeat;
	background-size: $feature-images;
}

.comments{
	background-image: url(../images/comments.png);
	background-position: center;
	background-repeat: $feature-repeat;
	background-size: $feature-images;
}

.gift{
	background-image: url(../images/gift.png);
	background-position: center;
	background-repeat: $feature-repeat;
	background-size: $feature-images;
}

.globe{
	background-image: url(../images/globe.png);
	background-position: center;
	background-repeat: $feature-repeat;
	background-size: $feature-images;
}

.bwr-short-rectangle{
	height: 22px;
	background: $white;
	position: relative;
	top: -15px;
	text-align: center;
}

.bwr-header-text{
		color: #284C63;
		font-size: 24px;
}	

.bwr-big-rectangle{
	height: 50px;
	background: $white;
	position: relative;
	text-align: center;
	top: -10px;
}

.bwr-subtext{
	color: black;
}

.light-blue-rectangle2{
	height: 170px;
	background: $lbb-background;
	margin: 0;
	text-align: center;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.button-bottom{
	height: 53px;
	background: #268DBC;
	margin-left: auto;
	margin-right: auto;
	width: 212px;

}

.bottom-menu{
	background: black;
	height: 100px;
	margin: 0;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

.bottom-links-row1{
	color: $white;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	display: inline;
	font-size: 12px;
}

.bottom-links-row2{
	color: $white;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	display: inline;
	font-size: 12px;
}

.bottom-white-rectangle{
	background: url(../images/automattic.png);
	background-repeat: no-repeat;
	background-size: $background-cover;
	background-position: center;
	height: 23px;
	margin-left: 37%;
	margin-right: 37%;
	margin-top: 20px;
}